 @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

 body {
     margin: 0;
     padding: 0;
 }

 header {
     position: fixed;
     display: flex;
     align-items: center;
     width: 100%;
     height: 60px;
     justify-content: space-between;
     box-shadow: 0px 4px 10px -5px black;
     background: white;
     z-index: 10;
 }

 header section {
     height: 100%;
     color: #071689;
     cursor: default;
     display: flex;
 }

 header section h1 {
     margin-top: 0;
     margin-bottom: 0;
     font-family: "Inter", sans-serif;
     color: white;
     display: flex;
     align-items: center;
     margin: 0px 15px;
     border: 0;
 }

 header nav {
     margin-right: 15px;
     transition: 1s ease;
 }

 header nav a {
     color: #071689;
     margin-left: 15px;
     text-decoration: none;
     font-family: "Inter", sans-serif;
     transition: 1s;
     font-size: 14px;
     font-weight: bold;
     border: 0;
 }

 header nav a:hover {
     border-bottom: #071689 solid 1px;
 }

 #espacio_header {
     height: 60px;
     width: 100%;
     background: #071689;
     border: 0;
 }

 #contenedor_logo {
     display: flex;
     background: #084B8A;
     border: 0;
 }

 #logo_img {
     background: #052A4C;
     width: 100px;
     height: 60px;
     border: 0;
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .triangulo {
     width: 0px;
     height: 0px;
     border-style: solid;
     border-width: 30px 0 30px 20px;
     transform: rotate(0deg);
 }

 /*----img logo-----*/
 #logo_img img {
     width: 75px;
     background-size: 75px;
     background-position: center;
 }