<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/servicios.css') }}">
</head>

<body>
    {% block content %}
    {% include 'header.html' %}
    {% endblock %}

    <main>
        <section id="contenedor_servicios">
            <div class="nav-container">
                <ul class="nav-menu" id="nav-menu">
                    <!-- Aquí se genera el lateral -->
                </ul>
            </div>

            <div id="contenedor_informacion">
                <section id="cabecera_info">
                    <h2>TITULO DEL SERVICIOS</h2>
                    <p> descripcion de servicio Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iste
                        laboriosam odit fugit odio fuga aspernatur nesciunt? Quisquam exercitationem, in officiis
                        adipisci perferendis aspernatur, accusantium autem hic magni error quos? Distinctio.</p>
                </section>
                <section id="cuerpo_info"></section>
            </div>
        </section>
    </main>
    <script src="{{ url_for('static', filename='js/servicios.js') }}"></script>
    {% include 'chatbot.html' %}

</body>

</html>