<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/header.css') }}">
</head>

<header>
    <section>
        <div id="contenedor_logo">
            <div id="logo_img">
                <img src="/static/imagenes/logo.png" alt="">
            </div>
            <div class="triangulo" style="border-color: transparent transparent transparent #052A4C;"></div>

            <h1>NOTARIA TUCCIO</h1>
        </div>
        <div class="triangulo" style="border-color: transparent transparent transparent #084B8A;"></div>

    </section>
    <nav>
        <a href="{{ url_for('index') }}">INICIO</a>
        <a href="{{ url_for('nosotros') }}">NOSOTROS</a>
        <a href="{{ url_for('servicios') }}"> SERVICIOS</a>
        <a href="">CONTACTENOS</a>
    </nav>
</header>
<section id="espacio_header"></section>

<style>

</style>