<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NOTARIA TUCCIO</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">

</head>

<body>
    {% block content %}
    {% include 'header.html' %}
    {% endblock %}

    <main>
        <section id="main1">
            <section id="main1_distribucion">
                <div>
                    <h2> <span class="palabra"></span></h2>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Autem harum sint nam error, quaerat,
                        eius sit, ipsa voluptate labore ullam ducimus rem eaque quibusdam perspiciatis optio repellendus
                        eveniet id excepturi.</p>
                    <button>Contactanos</button>
                </div>
            </section>
        </section>





        <footer>
            <p>Copyrights © 2017. Web desarrollada por Tuccio . Todos los derechos reservados.</p>
            <p>not_tuccio@notariatuccio.com ·  7134305 - 3627784 </p>

        </footer>
    </main>

    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
    {% include 'chatbot.html' %}
</body>

</html>